[submodule "SDHS-HACKATHON-2025-Team01"]
	path = SDHS-HACKATHON-2025-Team01
	url = https://github.com/project-sdhs/SDHS-HACKATHON-2025-Team01.git
[submodule "SDHS-HACKATHON-2025-Team02"]
	path = SDHS-HACKATHON-2025-Team02
	url = https://github.com/project-sdhs/SDHS-HACKATHON-2025-Team02.git
[submodule "SDHS-HACKATHON-2025-Team03"]
	path = SDHS-HACKATHON-2025-Team03
	url = https://github.com/project-sdhs/SDHS-HACKATHON-2025-Team03.git
[submodule "SDHS-HACKATHON-2025-Team04"]
	path = SDHS-HACKATHON-2025-Team04
	url = https://github.com/project-sdhs/SDHS-HACKATHON-2025-Team04.git
[submodule "SDHS-HACKATHON-2025-Team05"]
	path = SDHS-HACKATHON-2025-Team05
	url = https://github.com/project-sdhs/SDHS-HACKATHON-2025-Team05.git
[submodule "SDHS-HACKATHON-2025-Team06"]
	path = SDHS-HACKATHON-2025-Team06
	url = https://github.com/project-sdhs/SDHS-HACKATHON-2025-Team06.git
[submodule "SDHS-HACKATHON-2025-Team07"]
	path = SDHS-HACKATHON-2025-Team07
	url = https://github.com/project-sdhs/SDHS-HACKATHON-2025-Team07.git
[submodule "SDHS-HACKATHON-2025-Team08"]
	path = SDHS-HACKATHON-2025-Team08
	url = https://github.com/project-sdhs/SDHS-HACKATHON-2025-Team08.git
[submodule "SDHS-HACKATHON-2025-Team09"]
	path = SDHS-HACKATHON-2025-Team09
	url = https://github.com/project-sdhs/SDHS-HACKATHON-2025-Team09.git
[submodule "SDHS-HACKATHON-2025-Team10"]
	path = SDHS-HACKATHON-2025-Team10
	url = https://github.com/project-sdhs/SDHS-HACKATHON-2025-Team10.git
[submodule "SDHS-HACKATHON-2025-Team11"]
	path = SDHS-HACKATHON-2025-Team11
	url = https://github.com/project-sdhs/SDHS-HACKATHON-2025-Team11.git
[submodule "SDHS-HACKATHON-2025-Team12"]
	path = SDHS-HACKATHON-2025-Team12
	url = https://github.com/project-sdhs/SDHS-HACKATHON-2025-Team12.git
